version: '3.9'

services:

  frontend:
    image: ghcr.io/plone/ploneorg-frontend:${STACK_PARAM:-latest}
    environment:
      RAZZLE_INTERNAL_API_PATH: http://backend:8080/Plone
    depends_on:
      - backend
    networks:
      - public
      - ploneorg
    deploy:
      replicas: 2
      placement:
        constraints:
          - node.labels.type == app
      labels:
        - traefik.enable=true
        - traefik.docker.network=public
        - traefik.constraint-label=public
        # Services
        - traefik.http.services.ploneorg-frontend.loadbalancer.server.port=3000
        # Routers
        - traefik.http.routers.ploneorg-frontend.rule=Host(`plone.org`)
        - traefik.http.routers.ploneorg-frontend.entrypoints=https
        - traefik.http.routers.ploneorg-frontend.tls=true
        - traefik.http.routers.ploneorg-frontend.tls.certresolver=le
        - traefik.http.routers.ploneorg-frontend.service=ploneorg-frontend
        - traefik.http.routers.ploneorg-frontend.middlewares=gzip

  backend:
    image: ghcr.io/plone/ploneorg-backend:${STACK_PARAM:-latest}
    environment:
      RELSTORAGE_DSN: "dbname='${DB_NAME:-plone}' user='${DB_USER:-plone}' host='${DB_HOST:-db}' port='${DB_PORT:-5432}' password='${DB_PASSWORD:-plone}'"
    networks:
      - public
      - ploneorg
    deploy:
      replicas: 3
      update_config:
        order: stop-first
      placement:
        constraints:
          - node.labels.type == app
        max_replicas_per_node: 1
      labels:
        - traefik.enable=true
        - traefik.docker.network=public
        - traefik.constraint-label=public
        # Services
        - traefik.http.services.ploneorg-backend.loadbalancer.server.port=8080
        # Middlewares
        ### Authentication
        - traefik.http.middlewares.ploneorg-backend-auth.basicauth.users=ploneorg:$$2y$$05$$QuAxsLqKl7ltm6Qv4wOOw./2pK5VeVSBSllAJbdb4dKnFxWhFFLze
        ### backend ++api++ VHM
        - "traefik.http.middlewares.ploneorg-vhm-cleanup.replacepathregex.regex=^/((\\+\\+api\\+\\+/){1,})($$|.*)"
        - "traefik.http.middlewares.ploneorg-vhm-cleanup.replacepathregex.replacement=/VirtualHostBase/https/plone.org/Plone/++api++/VirtualHostRoot/$$3"
        - "traefik.http.middlewares.ploneorg-vhm.replacepathregex.regex=^/\\+\\+api\\+\\+($$|/.*)"
        - "traefik.http.middlewares.ploneorg-vhm.replacepathregex.replacement=/VirtualHostBase/https/plone.org/Plone/++api++/VirtualHostRoot/$$1"
        ### backend /ClassicUI VHM
        - "traefik.http.middlewares.ploneorg-vhm-classic.replacepathregex.regex=^/ClassicUI($$|/.*)"
        - "traefik.http.middlewares.ploneorg-vhm-classic.replacepathregex.replacement=/VirtualHostBase/https/plone.org/Plone/VirtualHostRoot/_vh_ClassicUI/$$1"
        # Routers
        ## Plone.org API
        - traefik.http.routers.ploneorg-backend.rule=Host(`plone.org`) && (PathPrefix(`/++api++`))
        - traefik.http.routers.ploneorg-backend.entrypoints=https
        - traefik.http.routers.ploneorg-backend.tls=true
        - traefik.http.routers.ploneorg-backend.service=ploneorg-backend
        - traefik.http.routers.ploneorg-backend.middlewares=gzip,ploneorg-vhm-cleanup,ploneorg-vhm
        ### Plone.org /ClassicUI - protected with basic auth (prevent SEOs from crawl it)
        - traefik.http.routers.ploneorg-classicui.rule=Host(`plone.org`) && (PathPrefix(`/ClassicUI`))
        - traefik.http.routers.ploneorg-classicui.entrypoints=https
        - traefik.http.routers.ploneorg-classicui.tls=true
        - traefik.http.routers.ploneorg-classicui.service=ploneorg-backend
        - traefik.http.routers.ploneorg-classicui.middlewares=gzip,ploneorg-backend-auth,ploneorg-vhm-classic
    volumes:
      - relstorage-cache:/data/relstorage-cache
      - blob-cache:/data/blob-cache

  pack:
    image: ghcr.io/plone/ploneorg-backend:${STACK_PARAM:-latest}
    environment:
      RELSTORAGE_DSN: "dbname='${DB_NAME:-plone}' user='${DB_USER:-plone}' host='${DB_HOST:-db}' port='${DB_PORT:-5432}' password='${DB_PASSWORD:-plone}'"
    command: bin/zodbpack -d 3 /zodbpack_conf
    healthcheck:
      disable: true
    deploy:
      replicas: 0
      placement:
        constraints:
          - node.labels.type == app
      labels:
        - "swarm.cronjob.enable=true"
        - "swarm.cronjob.schedule=0 4 * * *"
      restart_policy:
        condition: none
    configs:
      - zodbpack_conf
    networks:
      - ploneorg

networks:
  public:
    external: true
    driver: overlay
  ploneorg:
    driver: overlay

configs:
  zodbpack_conf:
    file: ../configs/zodbpack.conf

volumes:
  relstorage-cache: {}
  blob-cache: {}